$black: #000000;
$white: #FFFFFF;

$orange: #FEB41C;
$dark-grey: #24221F;
$medium-blue: #4B5F6D;
$dark-blue: #363F45;
$light-blue: #5E7C88;

@mixin background-size($size) {
  -webkit-background-size: $size;
     -moz-background-size: $size;
      -ms-background-size: $size;
          background-size: $size;
}
