body {
  background: url('../img/bg.png') repeat;
}

a {
  color: #990000;
}

#search-box {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #990000;
  border-radius: 20px;
  width: 300px;
  padding: 10px;
  margin-top: 100px;
  margin-bottom: 50px;
  color: #fff;
}

#results li {
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000047;
}

#results li:hover {
  background-color: #fff;
}

.white {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 12px;
  color: #fff;
}