$body: #d1d1e0;
$button-text: #fff;
$count: #0033cc;
$start: #006666;
$strict: #000;
$dark-gray: #333;
$yellow: #ffcc00;
$light-yellow: #ffe066;
$green: #006600;
$light-green: #00b300;
$red: #cc3300;
$light-red: #ff4000;
$blue: #0033cc;
$light-blue: #0040ff;

